nav {
    display: flex;
    justify-content: center;

    background-color: #7952B3;

    height: 65px;
    width: 100vw;
}

nav button {
    background-color: transparent;
    border: none;
    outline: none;

    color: white;
    font-size: 24px;
}

nav button:hover {
    color: #ffe484;
    cursor: pointer;

    transition:         color 200ms ease-out;
    -webkit-transition: color 200ms ease-out;
    -moz-transition:    color 200ms ease-out;
}

#container {
    display: flex;
    justify-content: space-between;
    width: calc(1100px / var(--size-divisor));
}

#left {
    display: flex;
    justify-content: space-between;
}

#left button {
    margin-right: 50px;
}

#right {
    display: flex;
}